<%- include('layout/header') %>
<div class="container">
    <div class="row my-4">
        <div class="col-md-12">
            <% if (message) { %>
                <div class="alert alert-<%= message.type %> alert-dismissible fade show" role="alert">
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong><%= message.message %></strong>
                </div>
            <% } %>
            <div class="table-responsive">
                <% if (users && users.length > 0) { %>
                    <table class="table table-striped text-center my-3">
                        <thead>
                            <tr class="table-dark">
                                <th><a href="/?page=<%= currentPage %>&limit=<%= limit %>&sortField=_id&sortOrder=<%= sortOrder %>">ID</a></th>
                                <th>Image</th>
                                <th><a href="/?page=<%= currentPage %>&limit=<%= limit %>&sortField=name&sortOrder=<%= sortOrder %>">Name</a></th>
                                <th><a href="/?page=<%= currentPage %>&limit=<%= limit %>&sortField=email&sortOrder=<%= sortOrder %>">Email</a></th>
                                <th>Phone</th>
                                <th>Gender</th>
                                <th>Designation</th>
                                <th>Course</th>
                                <th><a href="/?page=<%= currentPage %>&limit=<%= limit %>&sortField=datecreated&sortOrder=<%= sortOrder %>">Date Created</a></th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach((row, index) => { %>
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <td>
                                        <img src="/uploads/<%= row.image %>" width="50" class="img-thumbnail">
                                    </td>
                                    <td><%= row.name %></td>
                                    <td><%= row.email %></td>
                                    <td><%= row.phone %></td>
                                    <td><%= row.gender %></td>
                                    <td><%= row.desgination %></td>
                                    <td><%= row.course %></td>
                                    <td><%= row.datecreated.toDateString() %></td>
                                    <td>
                                        <a href="/edit/<%= row._id %>" class="text-sucess"><i class ="fas fa-edit fa-lg mx-1"></i></a>
                                        <a href="/delete/<%= row._id %>" class="text-danger"><i class ="fas fa-trash "></i></a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <nav aria-label="User Pagination">
                        <ul class="pagination">
                            <% if (currentPage > 1) { %>
                                <li class="page-item"><a class="page-link" href="/?page=<%= currentPage - 1 %>&limit=<%= limit %>&sortField=<%= sortField %>&sortOrder=<%= sortOrder %>">Previous</a></li>
                            <% } %>
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                    <a class="page-link" href="/?page=<%= i %>&limit=<%= limit %>&sortField=<%= sortField %>&sortOrder=<%= sortOrder %>"><%= i %></a>
                                </li>
                            <% } %>
                            <% if (currentPage < totalPages) { %>
                                <li class="page-item"><a class="page-link" href="/?page=<%= currentPage + 1 %>&limit=<%= limit %>&sortField=<%= sortField %>&sortOrder=<%= sortOrder %>">Next</a></li>
                            <% } %>
                        </ul>
                    </nav>
                <% } else { %>
                    <h1 class="text-center text-secondary mt-5">No user found</h1>
                <% } %>
            </div>
        </div>
    </div>
</div>
<%- include('layout/footer') %>
